* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Merriweather", serif;
}

.container {
    max-width: 1200px;
    margin: 50px auto;
    /* border: 1px solid #000; */
}

img {
    max-width: 100%;
    height: auto;
}

.hero {
    margin: 50px auto;
    min-height: 600px;
    min-width: 1300px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("images/Banner\ Image.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    border-radius: 15px;
}

.hero-content {
    margin: 0 auto;
    max-width: 632px;
    color: white;
}

.hero-content p {
    font-size: 32px;
    font-weight: regular;
}

.hero-content h1 {
    font-size: 72px;
    font-weight: 900;

}

.discount {

    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.discount h1 {
    font-size: 88px;
    font-weight: bold;
    font-family: "inter", sans-serif;
    margin-bottom: 20px;
    color: #FF0000;
}

.discount p {
    font-size: 24px;
    font-weight: regular;
    font-family: "inter", sans-serif;
    color: #FF0000;
    margin-bottom: 10px;
}

.discount h2 {
    font-size: 48px;
    font-weight: bold;
    font-family: "inter", sans-serif;
    color: #070211;
}

.discount img {
    max-width: 50%;
    margin: 20px auto;
}

.party {
    height: 600px;
    background: linear-gradient(to right,
            rgba(0, 0, 0, 1),
            rgba(0, 0, 0, 0)),
        url("images/Vectorrr.png");

    min-width: 1300px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}

.party h1 {
    font-size: 64px;
    font-weight: 900px;
    color: white;
    max-width: 642px;
    letter-spacing: 10px;

    margin-bottom: 20px;
}

.party p {
    font-size: 18px;
    color: white;
    font-weight: 200;
    max-width: 697px;
    opacity: 0.8;
    font-family: "inter", sans-serif;
    line-height: 30px;
    margin-bottom: 20px;
}

.button-transparent {
    font-family: "inter", sans-serif;
    color: white;
    font-size: 20px;
    font-weight: bold;
    background-color: transparent;
    border: none;
}

button {
    font-family: "inter", sans-serif;
    color: white;
    font-size: 20px;
    font-weight: bold;
    background-color: red;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;

}

.party-details {
    min-width: 1320px;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background: linear-gradient(to bottom,
            rgba(255, 0, 0, 0.1),
            rgba(255, 0, 0, 0));
    border-radius: 15px;
}

.party-details-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    gap: 20px;
    font-family: "inter", sans-serif;
    font-size: 20px;
    font-weight: 300px;
}

.party-details-content span {
    color: red;
}

.coming-soon {

    min-width: 1320px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 20px;
}

.left-div {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.left-div h2 {
    font-size: 24px;
    font-family: "inter", sans-serif;
    font-weight: 500;
    color: red;
}

.left-div h1 {
    font-size: 48px;
    font-weight: 900;
}

.left-div p {
    font-size: 20px;
    font-family: "inter", sans-serif;
    font-weight: 300;
    color: #070211;
    opacity: 0.8;
}

.middle-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.middle-div img {

    border-radius: 100%;
    padding: 25px;
    max-width: 100%;
}

.right-div {
    margin-left: 100px;
    display: flex;
    flex-direction: column;
    margin-top: 100px;

}

.right-div h1 {
    font-family: "inter", sans-serif;
    font-size: 48px;
    font-weight: 800;
    color: red;
    margin-bottom: 20px;
}

.right-div p {
    font-family: "inter", sans-serif;
    font-size: 20px;
    font-weight: 300;
    color: #070211;
    opacity: 0.8;

}

.right-div img {
    max-width: 140px;
}

.sale {

    min-width: 1320px;
    margin: 100px auto;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.sale-content {

    margin: 0 auto;
    max-width: 1068px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.sale-content h2 {
    font-family: "inter", sans-serif;
    font-size: 24px;
    font-weight: 600;
    color: black;
}

.sale-content h1 {
    font-size: 72px;
    font-weight: 900;
}

.sale-content h1 span {
    color: red;
}

.sale-content p {
    font-family: "inter", sans-serif;
    font-size: 20px;
    font-weight: 300;
    color: #070211;
    opacity: 0.6;
}

.sale-image {

    min-height: 600px;
    position: relative;
}

.sale-rectangle {
    position: absolute;
    bottom: 0px;
    left: 0px;
    z-index: -1;

}

.sale-image .box-image {
    position: absolute;
    bottom: 50px;
    left: 100px;
    height: 500px;
}

.sale-image .discount {
    position: absolute;
    bottom: 250px;
    right: 50px;

}

.portfolio {
    min-width: 1320px;
    display: flex;
    gap: 50px;
    flex-direction: column;
}

.portfolio-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: left;
    max-width: 896px;
}

.portfolio-content h2 {
    font-family: "inter", sans-serif;
    font-size: 24px;
    font-weight: 600;
    color: #FF0000;
}

.portfolio-content h1 {
    font-size: 48px;
    font-weight: 900;
}

.portfolio-content p {
    font-family: "inter", sans-serif;
    font-size: 20px;
    font-weight: 300;
    color: #070211;
    opacity: 0.6;
}

.portfolio-images {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.subscribe {
    background-color: rgb(255, 236, 236);
    padding: 50px;
    border-radius: 15px;
    min-width: 1320px;
    display: flex;
    flex-direction: column;

}

.subscribe-content {
    display: block;
    text-align: center;
    max-width: 896px;
    margin: 0 auto;
}

.subscribe-content h1 {
    font-size: 48px;
    font-weight: 900;
    margin: 20px auto;
}

.subscribe-content p {
    font-family: "inter", sans-serif;
    font-size: 20px;
    font-weight: 300;
    color: #070211;
    opacity: 0.6;
    margin-bottom: 50px;
}

.subscribe-form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.subscribe-form input {
    position: relative;
    text-align: left;
    padding: 20px;
    padding-right: 200px;
    border-radius: 50px;
    border: none;
    color: #070211;
}

.subscribe-form input::placeholder {
    color: #070211;
    opacity: 0.3;
}

.subscribe-form button {
    position: absolute;
    right: 1150px;
    padding: 15px 40px;
    border-radius: 0 999px 999px 0;
    border: none;
    font-family: "inter", sans-serif;
    font-size: 20px;
    font-weight: 300;
    cursor: pointer;
}

footer {
    min-width: 1600px;
    min-height: 609px;
    border-radius: 15px;
    background-color: #070211;
    color: white;
    padding: 100px 0px;
    font-family: "inter", sans-serif;
    font-size: 24px;
    font-weight: 300;
}

.footer-content {
    max-width: 1320px;
    margin: 0px auto;

}

.footer-content-top {
    display: flex;
    justify-content: space-between;
}

.social-icons {
    display: flex;
}

.footer-content-middle {
    margin: 100px 0px;
    padding: 50px 0px;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    display: flex;
    justify-content: center;
    gap: 20px;
}

.footer-content-bottom {
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}              